// COMMON :: START

// logo
.logo {
	&__btn {
		display: flex;
		align-items: flex-start;
	}

	&__img {
		display: block;
		width: 100%;
		max-width: 55px;
		height: 55px;
	}
}
// logo :: end

// copyright
.copyright {
	&__text {
		color: rgb(102, 102, 102);
		font-size: 14px;
	}
}
// copyright :: end

// COMMON :: END
