// COMMON :: START

// logo
.logo {
	&__btn {
		display: flex;
		align-items: center;
	}

	&__img {
		display: block;
		width: 100%;
		max-width: 55px;
		height: 55px;
	}

	span {
		position: relative;
		top: 1px;
		margin-left: 10px;
		text-transform: uppercase;
		line-height: 1;
		color: rgb(177, 151, 101);
		font-weight: 800;
		@include adaptive(1279) {
			display: none;
		}
	}
}
// logo :: end

// hamburger
.c-hamburger {
	cursor: pointer;

	&.is-active {
		.c-hamburger {
			&__inner {
				&,
				&:before,
				&:after {
					width: 100%;
					@include transition(width, transform, top);
				}

				& {
					top: 7px;
					transform: rotate(-45deg);
				}

				&:before {
					top: 0;
					transform: rotate(90deg);
				}

				&:after {
					opacity: 0;
					@include transition(opacity);
				}
			}
		}
	}

	&--custom {
		.c-hamburger {
			&__box {
				position: relative;
				display: flex;
				width: 28px;
				height: 17px;
			}

			&__inner {
				top: 0;
				width: 100%;

				&,
				&:before,
				&:after {
					position: absolute;
					right: 0;
					height: 3px;
					background-color: #b19765;
					@include transition(width, transform, top);
				}

				&:before,
				&:after {
					content: "";
					display: block;
				}

				&:before {
					top: 7px;
					width: 22px;
				}

				&:after {
					top: 14px;
					width: 26px;
					@include transition(opacity);
				}
			}
		}
	}
}
// hamburger :: end

// copyright
.copyright {
	&__text {
		color: rgb(102, 102, 102);
		font-size: 14px;
	}
}
// copyright :: end

// keyframes
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes slideInRight {
	from {
		transform: translate3d(100%, 0, 0);
		visibility: visible;
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}
// keyframes :: end

// COMMON :: END
