.swiper-container {
  width: 100%;
  max-width: 500px;
  height: 300px;

	&-tabletcarousel {
		max-width: 100%;
		height: 100%;

		.swiper {
			&-button {
				&-next,
				&-prev {
					width: 15px;
					height: 25px;
					background-size: 15px 25px;
				}
				&-next {
					background-image: url('../img/img-swiper-tablet-next.png');
				}
				&-prev {
					background-image: url('../img/img-swiper-tablet-prev.png');
				}
			}

			&-slide {
				position: relative;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				background-image: url('../img/img-tablet-banner.jpg');
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;

				&:before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: rgba(#000, 0.3);
				}

				&-0 {}
				&-1 {}
				&-2 {}

				p,
				span {
					z-index: 2;
					position: relative;
					color: #ffffff;
				}

				p {
					line-height: 1;
					font-size: 52px;
					font-weight: bold;
					@include adaptive(575) {
						font-size: 40px;
					}
				}

				span {
					font-size: 16px;
				}
			}
		}
	}

	&-intro {
		max-width: 100%;
		height: calc(1024px - 80px);

		.swiper {

			&-pagination {
				display: flex;
				align-items: center;
				justify-content: center;
				bottom: 23px;

				&-bullet {
					opacity: 1;
					position: relative;
					width: 28px;
					height: 28px;
					margin-left: 3px !important;
					margin-right: 3px !important;
					background-color: transparent;
					border: 1px solid #4f4f4f;

					&:before {
						content: '';
						opacity: 0;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%) scale(0);
						width: 23px;
						height: 23px;
						border-radius: 100%;
						background-color: #4f4f4f;
						@include transition(opacity, transform);
					}

					&-active {
						&:before {
							opacity: 1;
							transform: translate(-50%, -50%) scale(1);
							@include transition(opacity, transform);
						}
					}
				}
			}
		}
	}
}
