// SECTION tablet :: START

section#tablet.tablet.tablet--logout
	.tablet__wrapper
		.tablet__wrapper-header
			div
				a(href="#" class="" title="")
					span
					span
					span
			div
				a(href="" class="" title="")
					i.icon-font.icon-user
					span!= "3"
			div
				a(href="" class="" title="")
					i.icon-font.icon-doc
					span!= "0"
			div
				a(href="" class="" title="")
					i.icon-font.icon-bell

		.tablet__wrapper-content

			a.tablet__logout(href="#" class="" title="")!= "Logout"


// SECTION tablet :: END
