// SECTION tablet :: START

.tablet--scroll
	section#tablet.tablet.tablet--logout
		.tablet__header
			div
				a(href="#" class="" title="")
					i.icon-font.icon-list-menu
			div
				a(href="" class="" title="")
					i.icon-font.icon-user
					span!= "3"
			div
				a(href="" class="" title="")
					i.icon-font.icon-doc
					span!= "0"
			div
				a(href="" class="" title="")
					i.icon-font.icon-bell

		.tablet__content(tablet-bg-js)

		.tablet__footer
			a.tablet__logout(href="#" class="" title="")!= "Logout"


// SECTION tablet :: END
