// SECTION trial period :: START

.trial {
	padding-top: 30px;
	padding-bottom: 50px;
	@include adaptive(767) {
		padding-top: 15px;
	}

	&__wrapper {
		width: 100%;
		max-width: 1200px;
		@include adaptive(767) {
			max-width: 100%;
		}
	}

	&__title {
		padding-bottom: 50px;
		font-size: 32px;
		@include adaptive(767) {
			font-size: 28px;
		}
	}

	&__week {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 40px;
		@include adaptive(767) {
			flex-direction: column;
			align-items: flex-start;
		}

		&-title {
			font-size: 20px;
			@include adaptive(767) {
				padding-bottom: 15px;
			}
		}

		&-desc {
			font-size: 12px;
			text-transform: uppercase;
		}
	}

	&__row {
		display: flex;
		@include adaptive(767) {
			flex-wrap: wrap;
			max-width: 375px;
			margin-left: auto;
			margin-right: auto;
		}
	}

	&__col {
		width: 50%;
		@include adaptive(767) {
			width: 100%;
		}

		&-1 {
			padding-right: 15px;
			@include adaptive(767) {
				padding-right: 0;
				padding-bottom: 30px;
			}
		}

		&-2 {
			@include adaptive(767) {
				padding-bottom: 30px;
			}
		}
	}

	&__revenue,
	&__feedback {
		&-wrapper {
			display: flex;
			flex-direction: column;
		}

		&-head {
			display: flex;
			align-items: center;
			padding-bottom: 40px;
		}

		&-body {
			display: flex;
			flex-direction: column;
		}

		&-image {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			background-color: #f8f8f8;
		}

		&-title {
			padding-left: 20px;
			font-size: 20px;
			font-weight: 500;
		}
	}

	&__revenue {
		&-list {
			display: flex;
			flex-direction: column;
			width: 100%;
			max-width: 250px;
			@include adaptive(767) {
				max-width: 100%;
			}
		}

		&-item {
			display: flex;
			justify-content: space-between;
			padding-bottom: 15px;

			&:last-of-type {
				padding-bottom: 0;
			}

			&.is-current {
				.trial__revenue-item {
					&-day,
					&-date,
					&-count {
						color: #61bdf0;
						font-weight: bold;
					}
				}
			}

			&-day,
			&-date,
			&-count {
				line-height: 1;
			}

			&-day,
			&-date {
				font-size: 12px;
				text-transform: uppercase;
			}

			&-date {
				color: #999999;
			}

			&-count {
				font-size: 18px;
			}
		}
	}

	&__feedback {
		&-rating,
		&-star {
			&-wrapper {
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding-bottom: 15px;

				&:last-of-type {
					padding-bottom: 0;
				}
			}

			&-col {
				width: 100%;

				&-1 {
					max-width: 120px;
					@include adaptive(767) {
						max-width: 100px;
					}
				}
				&-2 {
					max-width: 125px;
					@include adaptive(767) {
						flex: 1;
						min-width: 1px;
						max-width: 100%;
					}
				}
				&-3 {
					max-width: calc(100% - (120px + 125px));
					padding-left: 20px;
					@include adaptive(767) {
						max-width: 70px;
					}
				}
			}

			&-name {
				font-size: 16px;
			}

			&-num {
				color: #80c4e9;
				font-size: 16px;
			}
		}

		&-star {
			padding-bottom: 50px;

			&-progress {
				overflow: hidden;
				position: relative;
				width: 100%;
				height: 25px;
				padding: 3px;
				border-radius: 5px;

				&:after {
					content: '';
					z-index: -1;
					position: absolute;
					top: -3px;
					left: -3px;
					width: calc(100% + 6px);
					height: calc(100% + 6px);
					background-color: #f9f9f9;
				}

				i {
					display: flex;
					position: relative;
					top: 50%;
					transform: translateY(-50%);
					left: 0;
					max-width: 100%;
					height: 19px;
					border-radius: 5px;
					background-color: #80c4e9;
				}
			}
		}

		&-rating {
			&-star {
				display: flex;
				align-items: center;
				justify-content: space-between;

				.icon-font {
					color: #80c4e9;
					font-size: 20px;
				}
			}
		}
	}
}

// SECTION trial period :: END
