// SECTION :: START

section#pf-menu.pf-menu
	.c-grid

		.pf-menu__wrapper

			.pf-menu__tabs-wrapper
				a.pf-menu__tabs(href="#" class="" title="") Company Profile
				a.pf-menu__tabs(href="#" class="" title="") Team
				a.pf-menu__tabs(href="#" class="" title="") Login & Security
				a.pf-menu__tabs.is-active(href="#" class="" title="") Billing Center

// SECTION :: END
