// SECTION pre-fixe menu :: START

.pf-menu {
	padding-top: 30px;
	padding-bottom: 50px;

	&__wrapper {
		width: 100%;
		max-width: 100%;
	}

	&__title {
		padding-bottom: 35px;
		font-size: 28px;
		font-weight: bold;
	}

	&__subtitle {
		padding-bottom: 15px;
		font-size: 20px;
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 20px;
		@include adaptive(767) {
			flex-wrap: wrap;

			> div {
				&:nth-of-type(1) {
					padding-bottom: 15px;
				}
			}
		}

		.pf-menu__subtitle {
			padding-bottom: 0;
		}
	}

	&__tabs {
		position: relative;
		display: block;
		margin-right: 40px;
		font-size: 16px;
		font-weight: 500;
		color: #61bdf0;
		@include transition(color);

		&:last-of-type {
			margin-right: 0;
		}

		&:after {
			content: '';
			opacity: 0;
			z-index: 0;
			position: absolute;
			top: calc(100% + 10px);
			left: 0;
			width: 100%;
			height: 2px;
			background-color: #b19765;
			@include transition(opacity);
		}

		&.is-active {
			color: #000000;

			&:after {
				opacity: 1;
				@include transition(opacity);
			}
		}

		&:hover {
			color: #000000;
			@include transition(color);
		}

		&-wrapper {
			display: flex;
			align-items: center;
			padding-bottom: 51px;
		}
	}

	&__form {
		display: flex;
		flex-direction: column;

		&-1 {
			display: flex;
			padding-bottom: 25px;
		}

		&-2 {
			padding-bottom: 15px;
		}

		&-row {
			display: flex;
			width: 100%;
			@include adaptive(767) {
				flex-direction: column-reverse;
				flex-wrap: wrap;
			}
		}

		&-col {
			&-1 {
				flex: 1;
				min-width: 1px;
				max-width: 100%;
			}

			&-2 {
				width: 260px;
				padding-left: 15px;
				@include adaptive(767) {
					padding-left: 0;
					padding-bottom: 30px;
					margin-left: auto;
					margin-right: auto;
				}
			}
		}

		&-field {
			&-1 {
				display: flex;
				@include adaptive(767) {
					flex-wrap: wrap;
					flex-direction: column-reverse;
				}

				> div {
					&:nth-of-type(1) {
						flex: 1;
						min-width: 1px;
						max-width: 100%;
						padding-right: 18px;
						@include adaptive(767) {
							padding-right: 0;
						}
					}

					&:nth-of-type(2) {
						width: 100%;
						max-width: 243px;
						padding-left: 10px;
						@include adaptive(767) {
							max-width: 100%;
							padding-bottom: 20px;
						}

						.pf-menu__form-row & {
							max-width: 180px;
							@include adaptive(767) {
								margin-left: auto;
							}
						}
					}
				}
			}

			&-2 {
				display: flex;
				@include adaptive(767) {
					flex-wrap: wrap;
				}

				> div {
					width: 50%;
					@include adaptive(767) {
						width: 100%;
					}

					&:nth-of-type(1) {
						padding-right: 10px;
						@include adaptive(767) {
							padding-right: 0;
						}
					}
					&:nth-of-type(2) {
						padding-left: 10px;
						@include adaptive(767) {
							padding-left: 0;
						}
					}
				}
			}

			&-6 {
				display: flex;
				@include adaptive(767) {
					flex-wrap: wrap;
				}

				> div {
					&:nth-of-type(1) {
						flex: 1;
						min-width: 1px;
						max-width: 100%;
						padding-right: 10px;
						@include adaptive(767) {
							padding-right: 0;
						}
					}

					&:nth-of-type(2) {
						width: 100%;
						max-width: 245px;
						padding-left: 10px;
						@include adaptive(767) {
							max-width: 100%;
							padding-left: 0;
						}
					}
				}
			}

			&-7 {
				display: flex;
				justify-content: space-between;
				@include adaptive(767) {
					flex-wrap: wrap;
				}

				> div {
					width: 100%;
					max-width: calc((100% - 40px) / 3);
					@include adaptive(767) {
						max-width: 100%;
					}

					.c-form__label {
						font-size: 20px;
					}
				}
			}

			&-8 {
				display: flex;
				@include adaptive(767) {
					flex-wrap: wrap;
				}

				> div {
					&:nth-of-type(1) {
						flex: 1;
						min-width: 1px;
						max-width: 100%;
						padding-right: 10px;
						@include adaptive(767) {
							padding-right: 0;
						}
					}

					&:nth-of-type(2) {
						width: 100%;
						max-width: 155px;
						padding-left: 10px;
						@include adaptive(767) {
							max-width: 100%;
							padding-left: 0;
						}
					}
				}
			}

			&-9 {
				.c-form__textarea {
					padding: 0 15px;

					&-wrapper {
						height: 85px;
					}
				}
			}

			&-10 {
				display: flex;
				@include adaptive(767) {
					flex-wrap: wrap;
				}

				> div {
					width: 50%;
					@include adaptive(767) {
						width: 100%;
					}

					&:nth-of-type(1) {
						padding-right: 10px;
						@include adaptive(767) {
							padding-right: 0;
						}
					}

					&:nth-of-type(2) {
						padding-left: 10px;
						@include adaptive(767) {
							padding-left: 0;
						}
					}
				}
			}

			&-11 {

			}
		}
	}

	&__price {
		display: flex;
		align-items: center;

		p {
			width: 180px;
			padding-bottom: 20px;
			font-size: 16px;
		}

		> div {
			width: 180px;
		}
	}

	&__details {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-radius: 5px;
		background-color: rgb(247, 247, 247);
		height: 45px;
		padding: 5px 20px;
		margin-bottom: 20px;
		@include adaptive(767) {
			position: relative;
		}

		p {
			font-size: 16px;
			font-weight: bold;
			@include adaptive(767) {
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				padding-left: 20px;
				padding-right: 55px;
				line-height: 45px;
			}
		}

		a {
			color: #000000;
			font-size: 16px;
		}
	}

	&__upload {
		cursor: pointer;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 165px;
		box-shadow: none;
		border-width: 1px;
		border-color: rgb(105, 192, 241);
		border-style: solid;
		border-radius: 5px;
		background-color: rgb(255, 255, 255);

		p {
			color: #69c0f1;
			text-align: center;
			font-size: 16px;
			font-weight: bold;
		}

		input {
			cursor: pointer;
			opacity: 0;
			z-index: 10;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	&__btn {
		cursor: pointer;
		outline: none;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		max-width: 201px;
		height: 45px;
		box-shadow: none;
		border: 1px solid rgb(105, 192, 241);
		border-radius: 5px;
		background-color: rgb(105, 192, 241);
		color: #ffffff;
		font-size: 16px;
		font-weight: bold;
		@include transition(background-color, color);
		@include adaptive(767) {
			max-width: 100%;
			margin-top: 50px;
		}

		&:hover {
			background-color: transparent;
			color: rgb(105, 192, 241);
			@include transition(background-color, color);
		}
	}

	&__add {
		 cursor: pointer;
		 display: flex;
		 align-items: center;
		 justify-content: center;
		 width: 100%;
		 height: 41px;
		 box-shadow: none;
		 border: 1px solid rgb(105, 192, 241);
		 border-radius: 5px;
		 background-color: transparent;
		 color: rgb(105, 192, 241);
		 font-size: 16px;
		 font-weight: bold;
		 @include transition(background-color, color);

		 &:hover {
			 background-color: rgb(105, 192, 241);
			 color: #fff;
			 @include transition(background-color, color);
		 }
	 }

	&__status {
		display: flex;
		align-items: center;
		height: 41px;
		@include adaptive(767) {
			justify-content: flex-end;
		}

		p {
			padding-right: 20px;
			font-size: 16px;
			font-weight: 300;
		}

		> div {
			position: relative;
		}

		&-btn {
			cursor: pointer;
			overflow: hidden;
			position: relative;
			width: 80px;
			height: 33px;
			padding: 5px;
			border-radius: 16px;

			label {
				cursor: pointer;
				position: absolute;
				top: 0;
				left: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 100%;
				background-color: rgb(247, 247, 247);
				@include transition(background-color);

				p {
					position: relative;
					display: flex;
					align-items: center;
					justify-content: center;
					width: 38px;
					height: 100%;
					padding-right: 9px;
					color: rgba(0, 0, 0, 0.302);
					text-transform: uppercase;
					font-size: 14px;
					font-weight: bold;
					text-align: center;
					@include transition(color);

					span {
						position: absolute;
						@include transition(opacity);

						&:nth-of-type(1) {
							left: 0;
						}
						&:nth-of-type(2) {
							opacity: 0;
							right: -23px;
						}
					}
				}

				i {
					width: 23px;
					height: 23px;
					border-width: 1px;
					border-color: rgb(235, 235, 235);
					border-style: solid;
					border-radius: 50%;
					background-color: rgb(255, 255, 255);
					@include transition(border-color, transform);
				}
			}

			input {
				opacity: 0;
				cursor: pointer;
				z-index: 10;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;

				&:checked {
					&+label {
						background-color: #a0d392;
						@include transition(background-color);

						p {
							color: #ffffff;
							@include transition(color);

							span {
								@include transition(opacity);

								&:nth-of-type(1) {
									opacity: 0;
								}
								&:nth-of-type(2) {
									opacity: 1;
								}
							}
						}

						i {
							transform: translateX(-38px);
							border-color: #a0d392;
							@include transition(border-color, transform);
						}
					}
				}
			}
		}
	}

	&__checkbox {
		display: flex;
		align-items: center;
		height: 42px;
		margin-bottom: 20px;
		padding: 5px 13px;
		border-radius: 5px;
		background-color: #f7f7f7;

		span {
			padding-left: 20px;
			font-size: 16px;
			font-weight: 300;
		}
	}

	&__portion {
		&-row {
			margin-bottom: 20px;

			&:last-of-type {
				margin-bottom: 40px;
			}
		}

		&-result {
			display: flex;
			align-items: center;
			height: 42px;
			padding: 5px 13px;
			border-radius: 5px;
			background-color: #f7f7f7;

			> div {
				flex: 1;
				min-width: 1px;
				max-width: 100%;
				padding-right: 10px;

				&:first-of-type {
					flex: unset;
					width: 100%;
					max-width: 185px;
				}

				&:last-of-type {
					display: flex;
					justify-content: flex-end;
					flex: unset;
					width: 100%;
					max-width: 142px;
					padding-right: 0;
				}

				p {
					font-size: 16px;
					font-weight: bold;
				}

				span {
					color: #666666;
				}

				a {
					color: #000000;
				}
			}
		}

		&-add {
			display: flex;
			height: 42px;

			> div {
				flex: 1;
				min-width: 1px;
				max-width: 100%;
				padding-right: 10px;

				&:first-of-type {
					flex: unset;
					width: 100%;
					max-width: 185px;
				}

				&:last-of-type {
					display: flex;
					justify-content: flex-end;
					flex: unset;
					width: 100%;
					max-width: 142px;
					padding-right: 0;
				}

				a {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 100%;
					max-width: 142px;
					height: 41px;
					border-width: 1px;
					border-color: rgb(105, 192, 241);
					border-style: solid;
					border-radius: 5px;
					background-color: rgb(255, 255, 255);
					color: rgb(105, 192, 241);
					font-size: 16px;
					font-weight: bold;
					@include transition(background-color, color);

					&:hover {
						background-color: rgb(105, 192, 241);
						color: #ffffff;
						@include transition(background-color, color);
					}
				}

				.c-form__select-wrapper {
					margin-bottom: 0;
				}
			}
		}

		&-btn {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			max-width: 142px;
			height: 41px;
			border-width: 1px;
			border-color: rgb(105, 192, 241);
			border-style: solid;
			border-radius: 5px;
			background-color: rgb(255, 255, 255);
			color: rgb(105, 192, 241);
			font-size: 16px;
			font-weight: bold;
			@include transition(background-color, color);

			&:hover {
				background-color: rgb(105, 192, 241);
				color: #ffffff;
				@include transition(background-color, color);
			}
		}
	}

	.c-form {
		&__field {
			&.is-focus {
				.c-form {
					&__label {
						transform: translateY(-7px);
						color: #bba478;
						font-size: 14px;
						@include transition(color, transform);
					}

					&__input {
						padding-top: 15px;

						&-wrapper {
							height: 57px;
							@include transition(height);
						}
					}

					&__textarea {
						padding-top: 25px;
					}
				}
			}

			&--select {
				.c-form__label {
					position: static;
				}
			}
		}

		&__label {
			z-index: 2;
			position: absolute;
			top: 0;
			left: 15px;
			width: 100%;
			height: 41px;
			padding: 0 15px 0 0;
			color: #666;
			@include transition(color, transform);
		}
	}
}

// SECTION pre-fixe menu :: END
