// SECTION menu :: START

.menu {
	padding-top: 30px;

	&__wrapper {
		width: 100%;
		max-width: 1200px;
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding-bottom: 40px;
		@include adaptive(767) {
			flex-wrap: wrap;
			font-size: 14px;
		}

		> div {
			display: flex;
			align-items: center;
			@include adaptive(767) {
				width: 100%;
			}

			&:nth-of-type(3) {
				@include adaptive(767) {
					justify-content: flex-end;
				}
			}
		}

		&-setting,
		&-new {
			display: flex;
			align-items: center;
			color: #61bdf0;
		}

		&-setting {
			.icon-font {
				font-size: 16px;
				margin-right: 5px;
			}

			span {
				font-size: 12px;
				font-weight: 500;
				text-transform: uppercase;
			}
		}

		&-new {
			margin-left: 40px;

			span {
				font-size: 30px;
				font-weight: bold;
				margin-right: 5px;
			}

			p {
				font-size: 12px;
				font-weight: 500;
				text-transform: uppercase;
			}
		}
	}

	&__title {
		font-size: 28px;
		font-weight: bold;
		@include adaptive(767) {
			padding-bottom: 15px;
			font-size: 26px;
		}
		@include adaptive(575) {
			font-size: 24px;
		}

		span {
			padding-left: 15px;
			font-weight: normal;
		}
	}

	&__subtitle {
		padding-bottom: 30px;
		font-size: 20px;
		font-weight: bold;
	}

	&__box {
		width: 100%;

		&-wrapper {
			display: flex;
			flex-wrap: wrap;
			width: calc(100% + 15px);
			margin-left: -15px;
			padding-bottom: 30px;

			> div {
				width: 100%;
				max-width: calc(100% / 4);
				padding-left: 15px;
				padding-bottom: 30px;
				@include adaptive(1365) {
					max-width: calc(100% / 3);
				}
				@include adaptive(1023) {
					max-width: calc(100% / 2);
				}
				@include adaptive(575) {
					max-width: 100%;
				}
			}
		}

		&-image {
			overflow: hidden;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 185px;
			background-color: #fafafa;
			@include adaptive(767) {
				height: 150px;
			}

			&--empty {}
			&--fill {
				&:hover {
					img {
						transform: scale(1.1);
						@include transition(transform 0.7s);
					}
				}
			}

			img {
				@extend %imageResCoverAbs;
				transform-origin: center;
				@include transition(transform 0.45s);
			}
		}

		&-title {
			display: flex;
			padding-top: 20px;
			font-size: 16px;

			p {
				display: flex;
				flex-wrap: wrap;
			}

			span {
				display: block;
				padding-left: 10px;
			}
		}
	}
}

// SECTION menu :: END
