---
title: DinnerBell | Add New Item

pageClassName: p-add-new-item
pageMod: woPreview
---
extends shared/_layout

block content
	div.body.body--start(class!= pageClassName)

		include components/add-new-item/_add-new-item
