---
title: DinnerBell | Menu Design & Setting | Base theme

pageClassName: p-mds
pageSubClassName: p-mds-0
---
extends shared/_layout

block content
	div.body.body--start(class!= pageClassName)

		include components/mds/_mds
