---
title: DinnerBell | Menu Design & Setting | Item details

pageClassName: p-mds
pageSubClassName: p-mds-5
---
extends shared/_layout

block content
	div.body.body--start(class!= pageClassName)

		include components/mds/_mds-5
