---
title: DinnerBell | Menu Design & Setting | Log Out

pageClassName: p-mds
pageSubClassName: p-mds-8
---
extends shared/_layout

block content
	div.body.body--start(class!= pageClassName)

		include components/mds/_mds-8
