---
title: DinnerBell | New Category

pageClassName: p-new-category
pageMod: woPreview
---
extends shared/_layout

block content
	div.body.body--start(class!= pageClassName)

		include components/new-category/_new-category
