---
title: DinnerBell | Team

pageClassName: p-team
pageMod: woPreview
---
extends shared/_layout

block content
	div.body.body--start(class!= pageClassName)

		include components/team/_add-new-item
		include components/team/_team-add
