// SECTION item list :: START

.itemList {
  padding-top: 30px;
  padding-bottom: 50px;
  @include adaptive(767) {
    padding-top: 15px;
  }

  &__wrapper {
    width: 100%;
    max-width: 1200px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 40px;
    @include adaptive(767) {
      flex-wrap: wrap;
    }

    > div {
      display: flex;
      align-items: center;
      @include adaptive(767) {
        width: 100%;

        &:nth-of-type(3) {
          justify-content: flex-end;
        }
      }
    }

    &-setting,
    &-new {
      display: flex;
      align-items: center;
      color: #61bdf0;
    }

    &-setting {
      .icon-font {
        font-size: 16px;
        margin-right: 5px;
      }

      span {
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
      }
    }

    &-new {
      margin-left: 40px;
      @include adaptive(767) {
        margin-left: 20px;
      }

      span {
        font-size: 30px;
        font-weight: bold;
        margin-right: 5px;
      }

      p {
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
      }
    }
  }

  &__title {
    font-size: 28px;
    font-weight: bold;
    @include adaptive(767) {
      padding-bottom: 15px;
    }

    span {
      padding-left: 15px;
      font-weight: normal;
    }
  }

  &__table {
    @include adaptive(767) {
      display: none;
      width: calc(100% + 15px);
      margin-right: -15px;
    }

    .table-responsive {
      display: block;
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }

    .table {
      width: 100%;
      color: #000;
      text-align: left;

      .nowrap {
        white-space: nowrap;
      }

      .red {
        color: #b10000;
        font-weight: bold;
      }

      .range {
        display: flex;
        align-items: center;

        > * {
          display: flex;
          align-items: center;
          width: 30px;
          height: 30px;
          margin-left: 5px;
          margin-right: 5px;
        }

        &__btn {
          justify-content: center;
          color: #61bdf0;
          font-size: 25px;
        }

        &__val {
          width: auto;
          min-width: 60px;
          padding-left: 5px;
          padding-right: 5px;
          text-align: left;
        }
      }

      .reload {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;

        .icon-font {
          color: #61bdf0;
          font-size: 20px;
        }
      }

      .btn {
        display: flex;
        align-items: center;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 30px;
          height: 30px;
          margin-left: 5px;
          margin-right: 5px;

          .icon-font {
            color: #000000;
            font-size: 20px;
          }
        }
      }

      tr {
        td {
          &:last-of-type {
            > div {
              display: flex;
              justify-content: flex-end;
            }
          }
        }
      }

      th,
      td {
        padding: 0.75rem 0.5rem;
        vertical-align: middle;
        border-bottom: 2px solid #f6f4f4;
      }

      th {
        font-weight: 300;
      }

      td {
        border-bottom: 2px solid #f6f4f4;
        font-weight: normal;
      }

      thead th {
        vertical-align: bottom;
        border-bottom-color: #f6f4f4;
      }

      tbody + tbody {
        border-top: 2px solid #f6f4f4;
      }
    }
  }

  &__box {
    &-info {
      display: none;
      @include adaptive(767) {
        display: flex;
      }

      > div {
        width: 100%;
        max-width: 100%;
        padding: 5px 10px;

        &:last-of-type {
          max-width: 50px;
        }
      }

      span {
        display: block;
        min-height: 25px;
        padding-bottom: 10px;
        font-size: 11px;
        text-transform: uppercase;
      }
    }

    &-wrapper {
      display: none;
      @include adaptive(767) {
        display: block;
      }

      > div {
        padding-bottom: 5px;
      }
    }

    &-head,
    &-body {
      span {
        display: block;
        min-height: 25px;
        padding-bottom: 10px;
        font-size: 11px;
        text-transform: uppercase;
      }

      .btn {
        display: flex;
        align-items: center;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 30px;
          height: auto;
          margin-left: 5px;
          margin-right: 5px;

          .icon-font {
            color: #000000;
            font-size: 18px;
          }
        }
      }
    }

    &-head {
      cursor: pointer;
      display: flex;
      border-bottom: 2px solid #f6f4f4;

      .is-collapse & {
        border-color: transparent;
        background-color: rgba(#f6f4f4, 0.35);
      }

      &:hover {
        background-color: rgba(#f6f4f4, 0.35);
      }

      > div {
        width: 100%;
        max-width: 100%;
        padding: 10px;

        &:last-of-type {
          max-width: 50px;
        }
      }

      p {
        font-size: 16px;

        &.red {
          color: #b10000;
          font-weight: bold;
        }
      }
    }

    &-body {
      display: none;

      &-cover {
        display: flex;
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom: 2px solid #f6f4f4;
        background-color: rgba(#f6f4f4, 0.35);

        > div {
          width: 100%;
          max-width: 100%;
          padding: 5px 10px;

          &:last-of-type {
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 50px;
          }
        }
      }

      .range {
        display: flex;
        align-items: center;

        > * {
          display: flex;
          align-items: center;
          width: 30px;
          height: 30px;
          margin-left: 5px;
          margin-right: 5px;
        }

        &__btn {
          justify-content: center;
          color: #61bdf0;
          font-size: 25px;
        }

        &__val {
          width: auto;
          min-width: 40px;
          padding-left: 5px;
          padding-right: 5px;
          text-align: left;
        }
      }

      .reload {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;

        .icon-font {
          color: #61bdf0;
          font-size: 20px;
        }
      }
    }
  }
}

// SECTION item list :: END
