// SECTION mds :: START

-
	var themeArr = [
		'Midnight',
		'Big Sur',
		'Amsterdam',
		'Midnight',
		'Big Sur',
		'Amsterdam',
		'Midnight',
		'Big Sur',
		'Amsterdam',
	];
	var themeImgArr = [
		'img-mds-theme-midnight',
		'img-mds-theme-bigsur',
		'img-mds-theme-amsterdam',
		'img-mds-theme-midnight',
		'img-mds-theme-bigsur',
		'img-mds-theme-amsterdam',
		'img-mds-theme-midnight',
		'img-mds-theme-bigsur',
		'img-mds-theme-amsterdam',
	];

section#mds.mds

	.mds__title
		span!= "Base theme"
		i.icon-font.icon-corner

	.mds__theme-wrapper
		each val, idx in themeArr
			a.mds__theme(class!= 'mds__theme-' + idx href="#" title="")
				.mds__theme-top
					img(src="img/" + themeImgArr[idx] + ".jpg" srcset="img/" + themeImgArr[idx] + "@2x.jpg 2x" alt="" title="")

					.mds__theme-ind
						span
						span
						span
						span
						span
						span

					.mds__theme-btn
						button(type='button')
							span!= "Use selected theme"
							i.icon-font.icon-arrow

						button(type='button')
							span!= "Customize"
							i.icon-font.icon-arrow

				.mds__theme-bottom
					p!= val

// SECTION mds :: E	ND
