// SECTION mds :: START

section#mds.mds

	.mds__wrapper
		.mds__wrapper-left

			h2.mds__title.mds__title--internal
				span!= "Log Out"
				i.icon-font.icon-corner

			form.c-form(action="" autocomplete='off')

				.mds__upload
					p.mds__upload-title!= "Background image"
					.mds__upload-row
						div
							p!= "darktheme_logout.png"
							a(href="" class="" title="")
								i.icon-font.icon-bin

				+formBtn('', 'c-btn c-btn--bg', 'Update settings')

		.mds__wrapper-right

			include ../tablet/_tablet-logout

// SECTION mds :: END
