// SECTION mds :: START

section#mds.mds

	.mds__wrapper
		.mds__wrapper-left

			.mds__title.mds__title--internal
				span!= "Log Out"
				i.icon-font.icon-corner

		.mds__wrapper-right

// SECTION mds :: END
