// SECTION security :: START

section#security.security
	.c-grid
		.security__wrapper

			.security__header
				div
					p.security__subtitle Phone number
					p.security__text Used to send notifications and verify changes to your account
				div
				a(href="#" class="" title="") Edit

			.security__row.security__row-1
				div
					.c-form__field.c-form__field--input
						.c-form__input-wrapper
							input.c-form__input(type!= 'text' name!= 'input_test-1' value='+1 (347) 206-6278' input-js)
						.c-form__notify
				div
					a.security__btn(href="#" class="" title="") Send verification code

			.security__col.security__col-1
				div
					p +1 (347) 206-6278

			.security__header
				div
					p.security__subtitle E-Mail
					p.security__text Used to login and receive important communication
				div
				a(href="#" class="" title="") Edit

			.security__row.security__row-2
				div
					.c-form__field.c-form__field--input
						.c-form__input-wrapper
							input.c-form__input(type!= 'text' name!= 'input_test-1' value='mail@petermaslov.com' input-js)
						.c-form__notify
				div
					a.security__btn(href="#" class="" title="") Update

			.security__col.security__col-2
				div
					p mail@petermaslov.com

			.security__header
				div
					p.security__subtitle Password
				div
				a(href="#" class="" title="") Edit

			.security__row.security__row-3
				div
					.c-form__field.c-form__field--input
						.c-form__input-wrapper
							input.c-form__input(type!= 'text' name!= 'input_test-1' placeholder='Old Password' input-js)
						.c-form__notify
				div
				div
					.c-form__field.c-form__field--input
						.c-form__input-wrapper
							input.c-form__input(type!= 'text' name!= 'input_test-1' placeholder='New Password' input-js)
						.c-form__notify
				div
					.c-form__field.c-form__field--input
						.c-form__input-wrapper
							input.c-form__input(type!= 'text' name!= 'input_test-1' placeholder='Confirm New Password' input-js)
						.c-form__notify
				div
					a.security__btn(href="#" class="" title="") Update

			.security__col.security__col-3
				div
					p • • • • • • • • • •

			.security__box
				.security__box-left
					p.security__box-title Text notifications
					span.security__box-text Informs you when someone is logging to this account
				.security__box-right

					.pf-menu__status
						p
						div
							.pf-menu__status-btn
								input(type="checkbox")
								label
									p
										span off
										span on
									i

			p.security__title Protection code
			p.security__text Code is used to identify and login into the tablet app using user individual role and permissions.

			.security__box
				.security__box-left
					p.security__box-title Code reset
					span.security__box-text E-mail new codes to all members of your team
				.security__box-right
					a.security__box-btn(href="#" class="" title="")
						span Reset the codes

			.security__box
				.security__box-left
					p.security__box-title Weekly renewal
					span.security__box-text Generate new access code weekly for extra protection
				.security__box-right

					.pf-menu__status
						p
						div
							.pf-menu__status-btn
								input(type="checkbox")
								label
									p
										span off
										span on
									i


// SECTION security :: END
