// SECTION security :: START

section#security.security
	.c-grid
		.security__wrapper

			.security__header
				div
					p.security__subtitle Phone number
					p.security__text Used to send notifications and verify changes to your account
				div

			.security__row.security__row-4
				div
					.security__col.security__col-1
						div
							p +1 (347) 206-6278
				div
					.c-form__field.c-form__field--input
						.c-form__input-wrapper
							input.c-form__input(type!= 'text' name!= 'input_test-1' value='• • • •' input-js)
							a(href="#" class="" title="") Resend
				div
					a.security__btn(href="#" class="" title="") Confirm


// SECTION security :: END
