// SECTION used :: START

.used {
	@include adaptive(767) {
		padding-top: 15px;
	}

	&__wrapper {
		width: 100%;
		max-width: 1200px;
	}

	&__title {
		padding-top: 20px;
		padding-bottom: 20px;
		font-size: 20px;
	}

	&__row {
		&-2 {
			a {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				max-width: 280px;
				height: 41px;
				margin-top: 20px;
				border-width: 1px;
				border-color: rgb(105, 192, 241);
				border-style: solid;
				border-radius: 5px;
				background-color: rgb(255, 255, 255);
				color: rgb(105, 192, 241);
				font-size: 16px;
				font-weight: bold;
				@include transition(background-color, color);
				@include adaptive(767) {
					margin-left: auto;
					margin-right: auto;
				}
				@include adaptive(424) {
					max-width: 100%;
				}

				&:hover {
					background-color: rgb(105, 192, 241);
					color: #ffffff;
					@include transition(background-color, color);
				}
			}
		}

		&-3 {
			padding-bottom: 30px;
		}
	}

	&__list {
		display: flex;
		justify-content: space-between;
		@include adaptive(767) {
			flex-wrap: wrap;
		}

		> div {
			&:nth-of-type(1) {
				flex: 1;
				min-width: 1px;
				max-width: 100%;
				padding-right: 10px;
				@include adaptive(767) {
					padding-right: 0;
				}
			}

			&:nth-of-type(2) {
				width: 238px;
				@include adaptive(767) {
					width: 100%;
				}
			}

			a {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				max-width: 100%;
				height: 41px;
				border-width: 1px;
				border-color: rgb(105, 192, 241);
				border-style: solid;
				border-radius: 5px;
				background-color: rgb(255, 255, 255);
				color: rgb(105, 192, 241);
				font-size: 16px;
				font-weight: bold;
				@include transition(background-color, color);

				&:hover {
					background-color: rgb(105, 192, 241);
					color: #ffffff;
					@include transition(background-color, color);
				}
			}
		}
	}

	&__checkbox {
		position: relative;
		width: 100%;
		min-height: 45px;

		&-wrapper {
			display: flex;
			flex-wrap: wrap;
			width: calc(100% + 5px);
			margin-left: -5px;
			@include adaptive(767) {
				flex-wrap: wrap;
			}

			> div {
				width: 100%;
				max-width: calc((100% - 20px) / 4);
				margin-left: 5px;
				padding-bottom: 5px;
				@include adaptive(767) {
					max-width: calc((100% - 10px) / 2);
				}
				@include adaptive(424) {
					max-width: 100%;
				}
			}
		}

		input,
		label {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		input {
			cursor: pointer;
			opacity: 0;
			z-index: 10;

			&:checked {
				&+label {
					border-color: rgb(255, 255, 255);
					background-color: rgb(208, 236, 251);
					box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
					@include transition(border-color, box-shadow, background-color);
				}
			}
		}

		label {
			cursor: pointer;
			display: flex;
			align-items: center;
			padding: 5px 15px;
			border-radius: 5px;
			border: 1px solid rgb(247, 247, 247);
			background-color: rgb(247, 247, 247);
			@include transition(border-color, box-shadow, background-color);
		}
	}

	&__box {
		display: flex;
		align-items: center;
		height: 41px;
		border-radius: 5px;
		background-color: rgba(235, 235, 235, 0.4);

		&-wrapper {
			display: flex;
			flex-wrap: wrap;
			width: calc(100% + 20px);
			margin-left: -20px;
			@include adaptive(767) {
				flex-wrap: wrap;
			}

			> div {
				width: 100%;
				max-width: calc((100% - 60px) / 3);
				margin-left: 20px;
				padding-bottom: 5px;
				@include adaptive(1279) {
					max-width: calc(50% - 20px);
				}
				@include adaptive(767) {
					max-width: 100%;
				}
			}
		}

		> div {
			&:nth-of-type(1) {
				flex: 1;
				min-width: 1px;
				max-width: 100%;
				padding: 5px 13px;

				p {

				}
			}

			&:nth-of-type(2) {
				width: 105px;
				@include adaptive(767) {
					width: 90px;
				}
			}

			&:nth-of-type(3) {
				display: flex;
				justify-content: flex-end;
				width: 60px;
				padding: 5px 13px;
				@include adaptive(767) {
					width: 40px;
				}

				a {
					color: #999999;
				}
			}

			.c-form {
				&__field {
					margin-bottom: 0;
				}

				&__select {
					&-wrapper {
						height: 31px;
						border-radius: 0;
						background-color: #ffffff;
					}

					&-value {
						width: calc(100% - 30px);
						padding-left: 10px;
						line-height: 31px;
						@include adaptive(767) {
							width: calc(100% - 25px);
						}
					}

					&-icon {
						width: 30px;
						@include adaptive(767) {
							width: 25px;
							padding-right: 8px;
						}
					}
				}
			}
		}
	}

	&__block {
		display: flex;
		flex-direction: column;
		margin-bottom: 30px;
		border-radius: 5px;
		border: 1px solid rgba(235, 235, 235, 0.8);

		&-head {
			display: flex;
			align-items: center;
			height: 60px;
			padding: 5px 18px;
			background-color: rgba(235, 235, 235, 0.4);

			.used__title {
				padding: 0;
			}
		}

		&-body {
			padding: 25px 5px;

			.used__title {
				padding-top: 0;
				padding-left: 13px;
			}

			.used__row {
				&-3 {
					&:last-of-type {
						padding-bottom: 0;
					}
				}
			}
		}
	}
}

// SECTION used :: END
