// SECTION add new item :: START

section#pf-menu.pf-menu
	.c-grid

		form(action='' method='' autocomplete='off')

			.pf-menu__wrapper

				p.pf-menu__title New item

				.pf-menu__tabs-wrapper
					a.pf-menu__tabs(href="#" class="" title="") Item Details
					a.pf-menu__tabs(href="#" class="" title="") Used Ingredients
					a.pf-menu__tabs.is-active(href="#" class="" title="") Customization options

// SECTION add new item :: END
