// SECTION mds :: START

.mds {
	position: relative;

	&__title {
		cursor: pointer;
		display: flex;
		align-items: center;

		span {
			margin-right: 23px;
			font-size: 28px;
			font-weight: bold;
			@include adaptive(575) {
				margin-right: 20px;
				font-size: 24px;
			}
		}

		.icon-font {
			font-size: 18px;
			color: #69c0f1;
			transform: rotate(-90deg);
			@include transition(transform);
			@include adaptive(575) {
				font-size: 16px;
			}

			.is-open & {
				transform: rotate(90deg);
				@include transition(transform);
			}
		}

		&-drop {
			z-index: 999;
			display: none;
			position: absolute;
			left: 0;
			top: calc(100% + 10px);
			min-width: 200px;
			padding-top: 15px;
			padding-bottom: 15px;
			border-radius: 5px;
			border: 1px solid #ccc;
			background-color: #ffffff;
			box-shadow: 0 5px 10px 0 rgba(#000, 0.1);

			> a {
				white-space: nowrap;
				display: flex;
				align-items: center;
				min-height: 40px;
				padding-left: 15px;
				padding-right: 30px;
				color: #000;
				font-size: 16px;
				@include transition(color);

				&:hover {
					color: #70c3f1;
					@include transition(color);
				}
			}
		}

		&-wrapper {
			position: relative;
			display: flex;
			flex-direction: column;
		}
	}

	&__subtitle {
		padding-top: 15px;
		padding-bottom: 30px;
		color: #000000;
		font-size: 20px;
		font-weight: bold;
		@include adaptive(575) {
			text-align: center;
		}
	}

	&__wrapper {
		display: flex;
		align-items: flex-start;

		&-left {
			position: relative;
			width: 100%;
			max-width: 476px;
			padding-right: 20px;
			@include adaptive(1023) {
				max-width: 400px;
				padding-right: 0;
			}
		}

		&-right {
			width: 600px;
			margin-left: auto;
			margin-right: auto;
			padding-top: 20px;
			padding-bottom: 20px;
			@include adaptive(1023) {
				opacity: 0;
				visibility: hidden;
				z-index: -1;
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				padding-top: 0;
				background-color: rgba(#ffffff, 0.95);

				&.is-show {
					z-index: 999;
					opacity: 1;
					visibility: visible;
					animation-fill-mode: both;
					animation-duration: 0.5s;
					animation-name: fadeIn, slideInRight;
				}
			}
		}

		&-header {
			display: none;
			align-items: center;
			justify-content: space-between;
			min-height: 80px;
			padding-left: 20px;
			padding-right: 20px;
			box-shadow: 0 2px 8px 0 rgba(#000, 0.1);
			@include transition(box-shadow);
			@include adaptive(1023) {
				display: flex;
			}

			> div {
				display: flex;
				align-items: center;

				&:nth-of-type(1) {
					flex: 1;
					min-width: 1px;
					max-width: 100%;
				}
				&:nth-of-type(2) {
					display: flex;
					justify-content: flex-end;
					width: 40px;
				}

				.icon-eye {
					margin-right: 10px;
					font-size: 40px;
					@include adaptive(767) {
						font-size: 34px;
					}
					@include adaptive(575) {
						font-size: 30px;
					}
				}

				p {
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
					font-size: 28px;
					font-weight: bold;
					@include adaptive(767) {
						font-size: 24px;
					}
					@include adaptive(575) {
						font-size: 20px;
					}
				}
			}

			a {
				display: flex;
				color: #000000;
				font-size: 20px;
				@include adaptive(575) {
					font-size: 16px;
				}
			}
		}

		&-preview {
			z-index: 1000;
			overflow: hidden;
			display: none;
			position: fixed;
			top: 80px;
			right: 20px;
			width: calc(600px / 2);
			height: 508.59px;
			border-width: 1px;
			border-color: rgb(224, 224, 224);
			border-style: solid;
			border-radius: 5px;
			background-color: #ffffff;
			box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
			@include adaptive(1023) {
				display: block;
			}
			@include adaptive(767) {
				display: none;
			}

			.is-hideScroll & {
				z-index: 900;
			}

			> a {
				z-index: 990;
				position: absolute;
				bottom: 10px;
				right: 10px;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 45px;
				height: 45px;
				border-radius: 10px;
				background-color: #69c0f1;

				.icon-font {
					color: #ffffff;
					font-size: 25px;
				}
			}

			.tablet--scroll {
				overflow: hidden;
				top: 0;
				height: 100%;
				padding: 0;

				.tablet {
					left: 50%;
					top: 0;
					transform: translate3d(-50%, 0,0) scale(0.496667);
					transform-origin: center top;
				}
			}
		}

		&-heading {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 30px 0 60px;
			@include adaptive(1023) {
				padding-bottom: 75px;
			}

			h2 {
				flex: 1;
				min-width: 1px;
				max-width: 100%;
			}

			> a {
				display: none;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				width: 60px;
				@include adaptive(1023) {
					display: flex;
				}

				p {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 60px;
					height: 60px;
					border-radius: 50%;
					background-color: #69c0f1;
					margin-bottom: 5px;
					@include adaptive(575) {
						width: 40px;
						height: 40px;
					}

					.icon-font {
						color: #ffffff;
						font-size: 30px;
						@include adaptive(575) {
							font-size: 22px;
						}
					}
				}

				span {
					text-transform: uppercase;
					color: #69c0f1;
					font-size: 12px;
					font-weight: bold;
					@include adaptive(575) {
						font-size: 10px;
					}
				}
			}
		}
	}

	// theme
	&__theme {
		overflow: hidden;
		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: calc((100% - 120px) / 3);
		min-height: (280 + 55) * 1px;
		margin-left: 40px;
		margin-bottom: 30px;
		@include transition(box-shadow);
		@include adaptive(1439) {
			max-width: calc((100% - 80px) / 2);
		}
		@include adaptive(1023) {
			max-width: calc((100% - 40px) / 1);
		}
		@include adaptive(575) {
			min-height: (220 + 55) * 1px;
		}

		&:last-of-type {
			margin-right: 0;
		}

		&:hover {
			.mds__theme-top {
				img {
					transform: scale(1.1);
					@include transition(transform);
				}
			}

			.mds__theme-btn {
				opacity: 1;
				@include transition(opacity);
			}
		}

		&-top {
			overflow: hidden;
			position: relative;
			flex: 1;
			background-color: #ffffff;
			border-width: 1px;
			border-color: rgb(224, 224, 224);
			border-style: solid;


			img {
				@extend %imageResCoverAbs;
				@include transition(transform);
			}
		}

		&-bottom {
			display: flex;
			align-items: center;
			height: 55px;
			padding: 5px 12px;
			@include transition(background-color);

			p {
				text-transform: uppercase;
				color: #000000;
				font-size: 14px;
				font-weight: bold;
			}
		}

		&-btn {
			opacity: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(#fff, 0.9);
			@include transition(opacity);

			button {
				outline: none;
				cursor: pointer;
				display: flex;
				align-items: center;
				padding-top: 5px;
				padding-bottom: 5px;
				border: none;
				box-shadow: none;
				border-radius: 0;
				background-color: transparent;
				color: #5ab4e6;
				font-size: 18px;
				font-weight: 500;

				.icon-font {
					margin-left: 10px;
				}
			}
		}

		&-ind {
			position: absolute;
			right: 17px;
			bottom: 17px;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: flex-end;

			span {
				width: 25px;
				height: 25px;
				margin-left: 2px;
				border-radius: 50%;

				&:last-of-type {
					margin-left: 0;
				}

				&:nth-of-type(1) {
					background-color: #171732;
				}
				&:nth-of-type(2) {
					background-color: #24265f;
				}
				&:nth-of-type(3) {
					background-color: #32348e;
				}
				&:nth-of-type(4) {
					background-color: #191d2a;
				}
				&:nth-of-type(5) {
					background-color: #303030;
				}
				&:nth-of-type(6) {
					background-color: #55001b;
				}
			}
		}

		&-wrapper {
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			margin-left: -40px;
		}
	}
	// theme :: end

	// screen
	&__screen {
		position: relative;
		padding: 20px;
		margin-bottom: 20px;

		&:hover {
			&:before {
				border-color: rgba(105, 192, 241, 0.25);
				@include transition(border-color);
			}
		}

		&.is-choose {
			&:before {
				border-color: rgb(105, 192, 241);
				box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
				@include transition(border-color, box-shadow);
			}
		}
		&.is-error {
			&:before {
				border-color: red;
				box-shadow: 0px 3px 3px 0px rgba(red, 0.1);
				@include transition(border-color, box-shadow);
			}
			.mds__screen-title,
			.mds__screen-desc {
				color: red;
				@include transition(color);
			}

			.mds__screen-upload {
				border-color: red;
				color: red;
				@include transition(border-color, color);
			}
		}

		&:last-of-type {
			margin-bottom: 64px;
		}

		&:before {
			content: '';
			z-index: -1;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 5px;
			border-width: 1px;
			border-style: solid;
			border-color: transparent;
			background-color: #ffffff;
			@include transition(border-color, box-shadow);
		}

		&--wbbs {
			padding: 0;

			&:before {
				border: none;
				box-shadow: none;
			}
		}

		&--mdslogOutpb {
			padding-bottom: 64px;
		}

		&-title {
			padding-bottom: 30px;
			color: #000000;
			font-size: 20px;
			font-weight: bold;
			@include transition(color);
			@include adaptive(575) {
				text-align: center;
			}
		}

		&-desc {
			color: #000000;
			font-size: 14px;
			font-weight: 300;
			@include transition(color);
			@include adaptive(575) {
				text-align: center;
			}
		}

		&-row {
			display: flex;
			align-items: center;
			@include adaptive(575) {
				flex-wrap: wrap;
			}
		}

		&-col {
			&-0 {
				flex: 1;
				min-width: 1px;
				max-width: 100%;
			}

			&-1 {
				display: flex;
				justify-content: flex-end;
				width: 185px;
				@include adaptive(575) {
					width: 100%;
					margin-top: 15px;
				}

				.mds__upload-bg {
					width: 100%;
					max-width: 160px;
				}
			}
		}

		&-upload {
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			width: 100%;
			max-width: 160px;
			min-height: 38px;
			border-width: 1px;
			border-color: rgb(97, 189, 240);
			border-style: solid;
			border-radius: 5px;
			background-color: rgb(255, 255, 255);
			color: rgb(97, 189, 240);
			font-size: 16px;
			font-weight: bold;
			@include transition(background-color, color, border-color);
			@include adaptive(575) {
				margin-left: auto;
				margin-right: auto;
			}

			&:hover {
				background-color: rgb(97, 189, 240);
				color: #ffffff;
				@include transition(background-color, color);
			}

			input[type='file'] {
				opacity: 0;
				z-index: 10;
				cursor: pointer;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}

		.mds__upload-row {
			margin-bottom: 5px;

			&:last-of-type {
				margin-bottom: 0;
			}

			&-wrapper {
				display: none;
				flex-direction: column;
			}
		}

		&-wrapper {
			display: flex;
			flex-direction: column;
		}

		.mds__upload {
			.mds__upload-wrapper {
				padding-top: 30px;
			}
		}
	}
	// screen :: end

	// menu
	&__menu {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		max-width: calc((100% - 13px) / 2);
		height: 43px;
		border-radius: 5px;
		border: 1px solid transparent;
		background-color: rgb(247, 247, 247);
		color: #000000;
		font-size: 16px;
		@include transition(border, background-color, box-shadow);
		@include adaptive(575) {
			max-width: 100%;
			margin-top: 5px;
			margin-bottom: 5px;
		}

		&.is-active {
			border: 1px solid #fff;
			background-color: rgb(208, 236, 251);
			box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
			font-weight: bold;
			@include transition(border, background-color, box-shadow);
		}

		&-wrapper {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-bottom: 43px;
			@include adaptive(575) {
				flex-wrap: wrap;
			}
		}
	}
	// menu :: end

	// font size
	&__fontSize {
		&-row {
			display: flex;
			align-items: center;
			padding-bottom: 30px;
			@include adaptive(575) {
				flex-wrap: wrap;
			}
		}

		&-col {
			&-0 {
				width: 120px;
				@include adaptive(575) {
					width: 100%;
					margin-bottom: 5px;
				}
			}

			&-1 {
				display: flex;
				align-items: center;
				flex: 1;
				min-width: 1px;
				max-width: 100%;

				> div {
					&:nth-of-type(1),
					&:nth-of-type(3) {
						width: 40px;
						text-align: center;

						span,
						p {
							color: #69c0f1;
						}

						span {
							font-size: 14px;
						}

						p {
							font-size: 22px;
						}
					}

					&:nth-of-type(2) {
						display: flex;
						align-items: center;
						position: relative;
						flex: 1;
						min-width: 1px;
						max-width: 100%;

						> * {
							width: 100%;
						}

						.noUi-horizontal {
							height: 1px;
							border: none;
							border-radius: 0;
							box-shadow: none;
							background-color: #69c0f1;
						}

						.noUi-handle.noUi-handle-lower {
							outline: none;
							top: -10px;
							right: -12px;
							width: 20px;
							height: 20px;
							border-radius: 100%;
							border-color: #69c0f1;
							box-shadow: none;
							background-color: #69c0f1;

							*,
							&:before,
							&:after {
								display: none;
							}
						}

						.noUi-value-horizontal {
							display: none;
						}

						.noUi-pips-horizontal {
							top: -5px;
							height: auto;
							padding: 0;
						}

						.noUi-marker-horizontal.noUi-marker {
							width: 1px;
							height: 11px;
							background-color: #69c0f1;
						}

						.irs--round.irs-with-grid {
							height: 31px;
						}

						.irs--round .irs-grid-text {
							display: none;
						}

						.irs-grid {
							bottom: -6px;
						}

						.irs--round .irs-line,
						.irs--round .irs-bar {
							top: 17px;
							left: 10px;
							width: calc(100% - 20px);
							height: 1px;
							background-color: #69c0f1;
							border-radius: 0;
						}

						.irs--round .irs-handle {
							cursor: pointer;
							top: 7px;
							width: 20px;
							height: 20px;
							border-color: #69c0f1;
							background-color: #69c0f1;
						}

						.irs-bar.irs-bar--single {
							display: none;
						}

						.irs--round .irs-grid-pol {
							height: 11px;
							background-color: #69c0f1;

							&.small {
								transform: translateY(3px);
								height: 5px;
							}
						}
					}
				}
			}

			&-2 {
				overflow: hidden;
				position: relative;
				width: 43px;
				height: 39px;
				border-width: 1px;
				border-color: rgb(204, 204, 204);
				border-style: solid;
				border-radius: 5px;
				background-color: #ffffff;

				.pickr {
					opacity: 0;
					z-index: 2;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;

					button {
						@extend .pickr;
					}
				}
			}
		}

		&-name {
			font-size: 16px;
		}

		&-input {
			opacity: 0;
		}

		&-wrapper {
			display: flex;
			flex-direction: column;
			padding-bottom: 30px;
		}
	}
	// font size :: end

	// indent
	&__indent {
		display: flex;
		align-items: center;
		margin-bottom: 4px;
		@include adaptive(575) {
			flex-wrap: wrap;
		}

		&:last-of-type {
			margin-bottom: 0;
		}

		> div {
			&:nth-of-type(1) {
				flex: 1;
				min-width: 1px;
				max-width: 100%;
			}
			&:nth-of-type(2) {
				width: 136px;
				@include adaptive(575) {
					width: 100%;
				}
			}

			p {
				color: #000000;
				font-size: 16px;
				font-weight: 300;
			}

			.noUi-horizontal {
				height: 1px;
				border: none;
				border-radius: 0;
				box-shadow: none;
				background-color: #69c0f1;
			}

			.noUi-handle.noUi-handle-lower {
				outline: none;
				top: -10px;
				right: -12px;
				width: 20px;
				height: 20px;
				border-radius: 100%;
				border-color: #69c0f1;
				box-shadow: none;
				background-color: #69c0f1;

				*,
				&:before,
				&:after {
					display: none;
				}
			}

			.noUi-marker.noUi-marker-horizontal.noUi-marker-sub,
			.noUi-value.noUi-value-horizontal.noUi-value-sub {
				display: none;
			}

			.noUi-marker-horizontal.noUi-marker {
				display: none;
			}
		}

		&-wrapper {
			display: flex;
			flex-direction: column;
			margin-bottom: 64px;
		}
	}
	// indent :: end

	// change
	&__change {
		margin-bottom: 50px;

		&-wrapper {
			display: flex;
			justify-content: space-between;
		}

		&-left,
		&-right {
			width: calc((100% - 20px) / 2);
		}

		&-title {
			padding-bottom: 17px;
			font-size: 16px;
			font-weight: 300;
		}

		&-color {
			overflow: hidden;
			position: relative;
			width: 100%;
			max-width: 160px;
			height: 38px;
			background-color: #131323;
			border: 1px solid rgb(204, 204, 204);
			border-radius: 5px;

			.pickr {
				opacity: 0;
				z-index: 2;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;

				button {
					@extend .pickr;
				}
			}
		}

		&-upload {
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			width: 100%;
			max-width: 160px;
			min-height: 38px;
			border-width: 1px;
			border-color: rgb(97, 189, 240);
			border-style: solid;
			border-radius: 5px;
			background-color: rgb(255, 255, 255);
			color: rgb(97, 189, 240);
			font-size: 16px;
			font-weight: bold;
			@include transition(background-color, color, border-color);

			&:hover {
				background-color: rgb(97, 189, 240);
				color: #ffffff;
				@include transition(background-color, color);
			}

			input[type='file'] {
				opacity: 0;
				z-index: 10;
				cursor: pointer;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
	}

	// upload preview file name
	&__fileName {
		margin-bottom: 20px;

		&-row {
			display: flex;
			flex-direction: column;
			padding: 15px 20px;
			border-radius: 5px;
			background-color: #f7f7f7;

			> div {
				display: flex;
				align-items: center;
				justify-content: space-between;
			}

			p {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				padding-right: 20px;
			}

			.icon-font {
				cursor: pointer;
				color: #000000;
			}
		}
	}
	// upload preview file name :: end

	&__upload {
		display: flex;
		flex-direction: column;
		padding-bottom: 30px;

		&-wrapper {
			display: flex;
			justify-content: space-between;

			&:last-of-type {
				padding-bottom: 0;
			}

			&--additional {
				display: none;

				> div {
					display: flex;
					justify-content: space-between;
				}
			}
		}

		&-left,
		&-right {
			width: 100%;
			max-width: calc((100% - 30px) / 2);
		}

		&-left,
		&-right {}

		&-title {
			padding-bottom: 15px;
		}

		&-subtitle {
			padding-bottom: 15px;
			font-size: 16px;
			font-weight: 300;
		}

		&-color {
			cursor: pointer;
			overflow: hidden;
			position: relative;
			width: 100%;
			max-width: 100%;
			height: 40px;
			border-radius: 5px;
			border: 1px solid #ccc;
			background-color: transparent;

			.pickr {
				opacity: 0;
				z-index: 2;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;

				button {
					@extend .pickr;
				}
			}

			span {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: #131323;
			}
		}

		&-bg {
			> div {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				max-width: 100%;
				min-height: 40px;
				border-radius: 5px;
				border: 1px solid #61BDF0;
				background-color: #fff;
				color: #61BDF0;
				font-size: 16px;
				font-weight: bold;
				@include transition(background-color, color, border-color);

				&:hover {
					background-color: #61BDF0;
					color: #ffffff;
					@include transition(background-color, color);
				}

				span {
					position: relative;
					top: 1px;
				}

				input[type='file'] {
					opacity: 0;
					z-index: 10;
					cursor: pointer;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
			}
		}

		&-preview {
			overflow: hidden;
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			width: 100%;
			height: 140px;
			border-radius: 5px;
			border: 1px solid #e0e0e0;
			background-color: #f7f7f7;
			background-size: cover;
			background-repeat: no-repeat;

			p {
				text-align: center;
				color: #000000;
				font-size: 14px;
			}

			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-position: center;
			}
		}

		&-option {
			display: flex;
			flex-direction: column;
		}

		&-radio {
			display: flex;
			flex-direction: column;
			padding-bottom: 30px;

			> div {
				margin-bottom: 10px;

				&:last-of-type {
					margin-bottom: 0;
				}
			}

			label {
				cursor: pointer;
				position: relative;

				input {
					opacity: 0;
					position: absolute;
					top: 0;
					left: 0;
					width: 0;
					height: 0;

					&:checked {
						& + span {
							&:after {
								opacity: 1;
								transform: scale(1);
								@include transition(transform, opacity);
							}
						}
					}
				}

				span {
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					position: relative;
					top: 1px;
					padding-left: 31px;

					&:before,
					&:after {
						content: '';
						position: absolute;
						border-radius: 50%;
					}

					&:before {
						top: 0;
						left: 0;
						width: 16px;
						height: 16px;
						border: 1px solid #61BDF0;
						background-color: transparent;
					}

					&:after {
						opacity: 0;
						top: 3px;
						left: 3px;
						width: 10px;
						height: 10px;
						background-color: #61bdf0;
						transform-origin: center;
						transform: scale(0);
						@include transition(transform, opacity);
					}
				}
			}
		}

		&-remove {
			cursor: pointer;
			display: flex;
			align-items: center;

			&:hover {
				span {
					&:after {
						transform: translateX(0);
						@include transition(transform);
					}
				}
			}

			.icon-font,
			span {
				color: #70c3f1;
			}

			span {
				overflow: hidden;
				position: relative;
				top: 1px;
				padding-left: 15px;

				&:after {
					content: '';
					position: absolute;
					top: calc(100% - 1px);
					left: 15px;
					width: calc(100% - 15px);
					height: 1px;
					background-color: #70c3f1;
					transform: translateX(100%);
					@include transition(transform);
				}
			}
		}
	}

	// form
	&__form {
		&-content {
			padding-bottom: 30px;

			.mds__fontSize-row {
				padding-bottom: 0;
			}

			&--font {
				.c-form__group {
					align-items: center;

					p {
						padding-bottom: 20px;
					}
				}
			}
		}

		&-color {
			display: flex;
			align-items: center;
			margin-bottom: 4px;
			@include adaptive(575) {
				flex-wrap: wrap;
				margin-bottom: 20px;
			}

			&.mds__form-color--winput {
				> div {
					&:nth-of-type(2) {
						display: flex;
						align-items: center;
						justify-content: space-between;
						width: 91px;
					}

					&.is-one {
						.mds__form-color-content {
							margin-left: auto;
						}
					}

					&.is-three {
						width: 139px;
					}
				}

				.mds__form-color {
					&-content {
						width: 43px;
					}
				}

			}

			&:last-of-type {
				margin-bottom: 0;
			}

			> div {
				&:nth-of-type(1) {
					flex: 1;
					min-width: 1px;
					max-width: 100%;
				}
				&:nth-of-type(2) {
					width: 136px;
					@include adaptive(575) {
						width: 100%;
					}
				}

				p {
					color: #000000;
					font-size: 16px;
					font-weight: 300;
				}
			}

			&-content {
				overflow: hidden;
				position: relative;
				width: 100%;
				height: 41px;
				border-width: 1px;
				border-color: rgb(204, 204, 204);
				border-style: solid;
				border-radius: 5px;

				.pickr {
					opacity: 0;
					z-index: 2;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;

					button {
						@extend .pickr;
					}
				}

				input[type="text"] {
					border: none;
					box-shadow: none;
					position: absolute;
					top: 0;
					left: 0;
					width: calc(100% - 43px);
					height: 100%;
					padding: 0 12px;
					background-color: #f7f7f7;
					text-transform: uppercase;
					color: rgba(0, 0, 0, 0.6);
					font-size: 14px;
					font-weight: 300;
				}

				span {
					z-index: 1;
					position: absolute;
					top: 0;
					right: 0;
					width: 43px;
					height: 100%;
					background-color: #ffffff;
				}
			}
		}
	}
	// form :: end


	.c-form__field--btn {
		padding-top: 30px;
	}
}

// SECTION mds :: END
