// SECTION mds :: START

.mds {
	position: relative;

	&__title {
		display: flex;
		align-items: center;
		padding: 26px 20px 46px;

		&--internal {
			padding: 36px 0 64px;
		}

		span {
			margin-right: 23px;
			font-size: 28px;
			font-weight: bold;
		}

		.icon-font {
			font-size: 18px;
			color: #69c0f1;
			transform: rotate(-90deg);
		}
	}

	&__subtitle {
		padding-bottom: 24px;
		color: #000000;
		font-size: 20px;
		font-weight: bold;

		&--mdsMenuPt {
			padding-top: 64px;
		}
	}

	&__wrapper {
		display: flex;
		align-items: flex-start;

		&-left {
			width: 100%;
			max-width: 476px;
		}

		&-right {
			flex: 1;
			max-width: 100%;
			min-width: 1px;
		}

		&-left {
			padding-left: 20px;
			padding-right: 26px;
		}
	}

	// theme
	&__theme {
		overflow: hidden;
		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: 326px;
		min-height: 272px;
		margin-right: 24px;
		border-width: 1px;
		border-color: rgb(224, 224, 224);
		border-style: solid;
		border-radius: 5px;
		background-color: rgb(246, 244, 244);
		@include transition(box-shadow);

		&:hover {
			.mds__theme-top {
				img {
					transform: scale(1.1);
					@include transition(transform);
				}
			}
		}

		&.is-choose {
			box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
			@include transition(box-shadow);

			.mds__theme-bottom {
				background-color: #ffffff;
				@include transition(background-color);
			}
		}

		&-top {
			overflow: hidden;
			position: relative;
			flex: 1;
			background-color: #ffffff;

			img {
				@extend %imageResCoverAbs;
				@include transition(transform);
			}
		}

		&-bottom {
			display: flex;
			align-items: center;
			height: 55px;
			padding: 5px 24px;
			@include transition(background-color);

			p {
				text-transform: uppercase;
				color: #000000;
				font-size: 14px;
				font-weight: 500;
			}
		}

		&-ind {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			display: flex;

			span {
				width: 100%;
				max-width: calc(100% / 6);
				height: 9px;

				&:nth-of-type(1) {
					background-color: #171732;
				}
				&:nth-of-type(2) {
					background-color: #24265f;
				}
				&:nth-of-type(3) {
					background-color: #32348e;
				}
				&:nth-of-type(4) {
					background-color: #191d2a;
				}
				&:nth-of-type(5) {
					background-color: #303030;
				}
				&:nth-of-type(6) {
					background-color: #55001b;
				}
			}
		}

		&-btn {
			display: flex;
			align-items: center;
			padding-left: 20px;

			> a {
				max-width: 249px;
				margin-right: 31px;
			}
		}

		&-wrapper {
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			padding-left: 20px;
			padding-bottom: 44px;
		}
	}
	// theme :: end

	// screen
	&__screen {
		position: relative;
		padding: 20px 0;
		margin-bottom: 20px;

		&:hover {
			&:before {
				border-color: rgba(105, 192, 241, 0.25);
				@include transition(border-color);
			}
		}

		&.is-choose {
			&:before {
				border-color: rgb(105, 192, 241);
				box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
				@include transition(border-color, box-shadow);
			}
		}

		&:last-of-type {
			margin-bottom: 64px;
		}

		&:before {
			content: '';
			z-index: -1;
			position: absolute;
			top: 0;
			left: -20px;
			width: calc(100% + 40px);
			height: 100%;
			border-radius: 5px;
			border-width: 1px;
			border-style: solid;
			border-color: transparent;
			background-color: #ffffff;
			@include transition(border-color, box-shadow);
		}

		&--wbbs {
			padding: 0;

			&:before {
				border: none;
				box-shadow: none;
			}
		}

		&-title {
			padding-bottom: 30px;
			color: #000000;
			font-size: 20px;
			font-weight: bold;
		}

		&-desc {
			color: #000000;
			font-size: 14px;
			font-weight: 300;
		}

		&-row {
			display: flex;
			align-items: center;
		}

		&-col {
			&-0 {
				flex: 1;
				min-width: 1px;
				max-width: 100%;
			}

			&-1 {
				display: flex;
				justify-content: flex-end;
				width: 185px;
			}
		}

		&-upload {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			max-width: 160px;
			min-height: 38px;
			border-width: 1px;
			border-color: rgb(97, 189, 240);
			border-style: solid;
			border-radius: 5px;
			background-color: rgb(255, 255, 255);
			color: rgb(97, 189, 240);
			font-size: 16px;
			font-weight: bold;
		}

		&-wrapper {
			display: flex;
			flex-direction: column;
		}
	}
	// screen :: end

	// menu
	&__menu {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		max-width: calc((100% - 13px) / 2);
		height: 43px;
		border-radius: 5px;
		border: 1px solid transparent;
		background-color: rgb(247, 247, 247);
		color: #000000;
		font-size: 16px;
		@include transition(border, background-color, box-shadow);

		&.is-active {
			border: 1px solid #fff;
			background-color: rgb(208, 236, 251);
			box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
			font-weight: bold;
			@include transition(border, background-color, box-shadow);
		}

		&-wrapper {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-bottom: 43px;
		}
	}
	// menu :: end

	// font size
	&__fontSize {
		&-row {
			display: flex;
			align-items: center;
			padding-bottom: 30px;
		}

		&-col {
			&-0 {
				width: 150px;
			}

			&-1 {
				display: flex;
				align-items: center;
				flex: 1;
				min-width: 1px;
				max-width: 100%;

				> div {
					&:nth-of-type(1),
					&:nth-of-type(3) {
						width: 40px;
						text-align: center;

						span,
						p {
							color: #69c0f1;
						}

						span {
							font-size: 14px;
						}

						p {
							font-size: 22px;
						}
					}

					&:nth-of-type(2) {
						display: flex;
						align-items: center;
						position: relative;
						flex: 1;
						min-width: 1px;
						max-width: 100%;

						> * {
							width: 100%;
						}

						.irs--round.irs-with-grid {
							height: 31px;
						}

						.irs--round .irs-grid-text {
							display: none;
						}

						.irs-grid {
							bottom: -7px;
						}

						.irs--round .irs-line,
						.irs--round .irs-bar {
							top: 17px;
							left: 10px;
							width: calc(100% - 20px);
							height: 1px;
							background-color: #69c0f1;
							border-radius: 0;
						}

						.irs--round .irs-handle {
							cursor: pointer;
							top: 7px;
							width: 20px;
							height: 20px;
							border-color: #69c0f1;
							background-color: #69c0f1;
						}

						.irs-bar.irs-bar--single {
							display: none;
						}

						.irs--round .irs-grid-pol {
							height: 9px;
							background-color: #69c0f1;

							&.small {
								display: none;
							}
						}
					}
				}
			}
		}

		&-name {
			font-size: 14px;
		}

		&-input {
			opacity: 0;
		}

		&-wrapper {
			display: flex;
			flex-direction: column;
			padding-bottom: 30px;
		}
	}
	// font size :: end

	// form
	&__form {
		&-content {
			padding-bottom: 23px;

			&--last {
				padding-bottom: 41px;
			}
		}

		&-color {
			display: flex;
			align-items: center;
			margin-bottom: 4px;

			&:last-of-type {
				margin-bottom: 0;
			}

			> div {
				&:nth-of-type(1) {
					flex: 1;
					min-width: 1px;
					max-width: 100%;
				}
				&:nth-of-type(2) {
					width: 136px;
				}

				p {
					color: #000000;
					font-size: 16px;
					font-weight: 300;
				}
			}

			&-content {
				overflow: hidden;
				position: relative;
				width: 100%;
				height: 41px;
				border-width: 1px;
				border-color: rgb(204, 204, 204);
				border-style: solid;
				border-radius: 5px;

				.pickr {
					opacity: 0;
					z-index: 2;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;

					button {
						@extend .pickr;
					}
				}

				input[type="text"] {
					border: none;
					box-shadow: none;
					position: absolute;
					top: 0;
					left: 0;
					width: calc(100% - 43px);
					height: 100%;
					padding: 0 12px;
					background-color: #f7f7f7;
					text-transform: uppercase;
					color: rgba(0, 0, 0, 0.6);
					font-size: 14px;
					font-weight: 300;
				}

				span {
					z-index: 1;
					position: absolute;
					top: 0;
					right: 0;
					width: 43px;
					height: 100%;
					background-color: #ffffff;
				}
			}
		}
	}
	// form :: end
}

// SECTION mds :: END
