@font-face {
	font-family: "iconFont";
	src: url('../fonts/iconFont.eot');
	src: url('../fonts/iconFont.eot?#iefix') format('eot'),
		url('../fonts/iconFont.woff2') format('woff2'),
		url('../fonts/iconFont.woff') format('woff'),
		url('../fonts/iconFont.ttf') format('truetype'),
		url('../fonts/iconFont.svg#iconFont') format('svg');
}

@mixin icon-styles {
	font-family: "iconFont", sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == arrow {
		$char: "\E001";
	}
	@if $filename == bell {
		$char: "\E002";
	}
	@if $filename == bin {
		$char: "\E003";
	}
	@if $filename == cook {
		$char: "\E004";
	}
	@if $filename == copy {
		$char: "\E005";
	}
	@if $filename == corner {
		$char: "\E006";
	}
	@if $filename == doc {
		$char: "\E007";
	}
	@if $filename == fullscreen {
		$char: "\E008";
	}
	@if $filename == menu {
		$char: "\E009";
	}
	@if $filename == move {
		$char: "\E00A";
	}
	@if $filename == rate {
		$char: "\E00B";
	}
	@if $filename == settings {
		$char: "\E00C";
	}
	@if $filename == user {
		$char: "\E00D";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-arrow {
	@include icon(arrow);

}
.icon-bell {
	@include icon(bell);

}
.icon-bin {
	@include icon(bin);

}
.icon-cook {
	@include icon(cook);

}
.icon-copy {
	@include icon(copy);

}
.icon-corner {
	@include icon(corner);

}
.icon-doc {
	@include icon(doc);

}
.icon-fullscreen {
	@include icon(fullscreen);

}
.icon-menu {
	@include icon(menu);

}
.icon-move {
	@include icon(move);

}
.icon-rate {
	@include icon(rate);

}
.icon-settings {
	@include icon(settings);

}
.icon-user {
	@include icon(user);

}